/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS03operators/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
