/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS03operators/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS03operators/WS05iterations/nbproject/private/
/workshops/unit1/WS03operators/WS05iterations/build/
/workshops/unit1/WS03operators/HW03Iterations/nbproject/private/
/workshops/unit1/WS03operators/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/HSW04Menussitch-case/nbproject/private/
/workshops/unit1/HSW04Menussitch-case/build/
