/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS03operators/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS03operators/WS05iterations/nbproject/private/
/workshops/unit1/WS03operators/WS05iterations/build/
/workshops/unit1/WS03operators/HW03Iterations/nbproject/private/
/workshops/unit1/WS03operators/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/HSW04Menussitch-case/nbproject/private/
/workshops/unit1/HSW04Menussitch-case/build/
/EXAM/PorteroCarlaQ11.java/nbproject/private/
/EXAM/PorteroCarlaQ11.java/build/
/ProjectUnit1/Project_Unit1/nbproject/private/
/ProjectUnit1/Project_Unit1/build/
/ProjectUnit1/Project_Unit1/ValidId/nbproject/private/
/ProjectUnit1/Project_Unit1/ValidId/build/
/workshops/Unit2/WS08debugging/nbproject/private/
/workshops/Unit2/WS08debugging/build/
/assignments/HW08FactorialNumber/nbproject/private/
/assignments/HW08FactorialNumber/build/
/assignments/HW09EmbeddedStructures/nbproject/private/
/assignments/HW09EmbeddedStructures/build/
/assignments/unit2/HW08FactorialNumber/build/
/assignments/unit2/HW08FactorialNumber/nbproject/private/
/workshops/Unit2/WS10Functions/nbproject/private/
/workshops/Unit2/WS10Functions/build/
/workshops/Unit2/HW10Functions/nbproject/private/
/workshops/Unit2/HW10Functions/build/
/assignments/unit2/HW10Functions/nbproject/private/
/assignments/unit2/HW10Functions/build/
/assignments/unit2/HW11Recursion/nbproject/private/
/assignments/unit2/HW11Recursions/nbproject/private/
/assignments/unit2/HW11Recursions/build/
/assignments/unit2/HW12Sucesion/nbproject/private/
/assignments/unit2/HW12Sucesion/build/
/assignments/unit2/HW11Recursion/build/
/assignments/unit2/WS12Libraries/nbproject/private/
/assignments/unit2/WS12Libraries/build/
/workshops/Unit2/WS12Libraries/nbproject/private/
/workshops/Unit2/WS12Libraries/build/
/assignments/unit2/HW12Taxes/nbproject/private/
/assignments/unit2/HW12Taxes/build/
/workshops/Unit2/WS13-Task/nbproject/private/
/workshops/Unit2/WS13-Task/build/
/workshops/Unit2/BASKETBALL/nbproject/private/
/workshops/Unit2/HW14/nbproject/private/
/workshops/Unit2/HW14/build/
/assignments/unit2/ArraysQuiz/nbproject/private/
/assignments/unit2/ArraysQuiz/build/
/workshops/Unit2/WS15Arrays/nbproject/private/
/workshops/Unit2/WS15Arrays/build/
/assignments/unit2/HW15MatrixOperation/nbproject/private/
/assignments/unit2/HW15MatrixOperation/build/
/assignments/unit2/JavaApplication38/nbproject/private/
/workshops/Unit2/HW10Functions/WS17MatrixFunction/nbproject/private/
/workshops/Unit2/HW10Functions/WS17MatrixFunction/build/
/assignments/unit2/HW16MatrixFunction/nbproject/private/
